.choiceBtn {
    line-height: 30px;
    width: 100px;
}

#gameDiv {
    font-family: cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}

#playerText {
    color: blue;
}

#computerText {
    color: red;
}