body{
    background: #323232;
    color: aliceblue;
    font-size: 20px;
}

div{
    border-style: solid;
    padding: 5%;
    border-radius: 3%;
    background-color: #191919;
    margin: 50px;
}

#console{
    margin-top: 10px;
}