.cell {
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 100px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}